/** @format Nabvar*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
.header {
  background-color: #14343f;
  box-shadow: 1px 5px 4px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 64px;
  z-index: 3;
}
/*Propiedades de los containers*/
.div-logo {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 33.33%;
  overflow: ;
  outline: none;
}
.div-user {
  width: 33.33%;
  float: left;
  overflow: hidden;
  height: 100%;
  padding-top: 10px;
}

.div-menu {
  display: block;
  width: 33.33%;
  float: right;
  height: 100%;
}
/*Logo*/
.div-logo a{
  display: block;
  width: 100%;
  height: 100%;
  
}
.div-logo:hover{
  background-color: bisque;
}
.div-logo a img {
  height: 80px;
  width: auto;
  margin-top: -10px;

}







